<html>
    <head>
        <title>Articles</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        

    </head>
    <body>
        <div class="container">
                <center>
                        <div>
                          <a href="/addArticle" class="btn btn-success" role="button">Add Article</a>
                        </div>
                </center>
                <h2>Articles</h2>
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="myTable">
                    <caption>List of Articles</caption>
                  <thead class = "thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%= data[i].title %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].url %></td>
                    <td><%= data[i].img %></td>
                    <td><%= data[i].date %></td>
                    <td>
                      <button type="button" class="edit btn btn-warning"
                       data-toggle="modal" data-target="#myModal" 
                       id="<%=data[i].title %>">
                          Edit
                      </button>
                        <button type="button" id="<%=data[i].title %>" 
                          class="delete btn btn-danger" 
                          value ="<%=data[i].title %>">
                          Delete
                        </button>
                    </td>
                  </tr>
                <% } %>
                  </tbody>
                  <tfoot class="thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
                <!--  Modal Starts-->
                  <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                  <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                  
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          <div class="container">
                                    <h2>Edit Articles</h2>
                                    <form action="/edit_article" method="POST" id="edit_article">
                                      
                                      <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" id="edit_title" placeholder="Enter Title" name="title" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="description">Description:</label>
                                        <input type="text" class="form-control" id="edit_description" placeholder="Enter Description" name="description">
                                      </div>
                                      <div class="form-group">
                                        <label for="url">URL:</label>
                                        <input type="text" class="form-control" id="edit_url" placeholder="Enter URL" name="url">
                                      </div>
                                      <div class="form-group">
                                        <label for="img">IMG:</label>
                                        <input type="text" class="form-control" id="edit_img" placeholder="Enter IMG URL" name="img">
                                      </div>
                                      <div class="form-group">
                                        <label for="date">Publish Date:</label>
                                        <input type="text" class="form-control" id="edit_date" placeholder="Enter Publish Date" name="date">
                                      </div>
                                    </form>
                                  </div>
                                        </div>
                
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                          <button type="submit" id="edit_table" class="btn btn-primary">Edit</button>
                                        </div>
                                  
                                      </div>
                                    </div>
                                  </div>
        <script type="text/javascript" src="../js/delete.js"></script>
        <script type="text/javascript" src="../js/edit.js"></script>
    </body>
</html>
