<html>
    <head>
        <title>Articles</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

        <style>
            /* Add a black background color to the top navigation */
            .topnav {
            background-color: #333;
            overflow: hidden;
            /*width: 60%;*/
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto 
            }
            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
            }

            li {
            float: left;
            }
            .nav-link {
                float: right;
                position: relative;
            }

            a.nav-link {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            }
            a:hover.nav-link {
            background-color: #111111;
            color: blue;
            }
            .topnav h3 {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 19px;
            }
        </style>

    </head>
    <body>

        <div class="topnav">
            <div class="pull-left"><h3>Git Buckets 24/7 Admin</h3></div>
            <div class="pull-right"><a class="nav-link" href="/admin">Logout</a></div>
        </div>

        <% if (alert) { %>
            <h5 id="msg" style="color:red"><center><%= alert %></center></h5>
        <% } %>

        <div class="container">
                <center>
                        <div>
                          <a href="/admin/addArticle" class="btn btn-success" role="button">Add Article</a>
                        </div>
                </center>
                <h2>Articles</h2>
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="myTable">
                    <caption>List of Articles</caption>
                  <thead class = "thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%= data[i].title %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].url %></td>
                    <td><%= data[i].img %></td>
                    <td><%= data[i].date %></td>
                    <td>
                      <button type="button" class="edit btn btn-warning"
                       data-toggle="modal" data-target="#myModal" 
                       id="<%=data[i].title %>">
                          Edit
                      </button>
                      <form method="POST" id="<%=i%>" action="/admin/deleteArticle" onsubmit="return confirm('Do you really want to delete this news?');">
                        <input type="hidden" name="title" value="<%=data[i].title%>"/>
                        <button type="submit" id="<%=data[i].title %>" 
                          class="delete btn btn-danger">
                          Delete
                        </button>
                    </form>
                    </td>
                  </tr>
                <% } %>
                  </tbody>
                  <tfoot class="thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>

                <script>
                    $(document).ready(function () {
                        $('#myTable').DataTable();
                    });
                </script>

                <!--  Modal Starts-->
                  <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                  <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          <div class="container">
                                    <h2>Edit Articles</h2>
                                    <form action="/admin/edit" method="POST" id="edit_article">

                                      <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" id="edit_title" placeholder="Enter Title" name="title" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="description">Description:</label>
                                        <input type="text" class="form-control" id="edit_description" placeholder="Enter Description" name="description">
                                      </div>
                                      <div class="form-group">
                                        <label for="url">URL:</label>
                                        <input type="text" class="form-control" id="edit_url" placeholder="Enter URL" name="url">
                                      </div>
                                      <div class="form-group">
                                        <label for="img">IMG:</label>
                                        <input type="text" class="form-control" id="edit_img" placeholder="Enter IMG URL" name="img">
                                      </div>
                                      <div class="form-group">
                                        <label for="date">Publish Date:</label>
                                        <input type="text" class="form-control" id="edit_date" placeholder="Enter Publish Date" name="date">
                                      </div>
                                  </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                          <input type="hidden" name="id" id="edit_id" />
                                          <button type="submit" id="update_table" class="btn btn-primary">Edit</button>
                                        </div>
                                      </form>
                                      </div>
                                    </div>
                                  </div>
        
        <script type="text/javascript">
          var title;
          var to_be_edited;
                  $(document).ready(function() {
                      $('#myTable').DataTable();
                      });
                  // edit data
                  $('.edit').click(function() {
                      id = this.id;
                          $.ajax({
                              type: 'POST',
                              url: '/admin/find',
                              data: {"title":id},
                              success: function(data){
                                      to_be_edited = data.title;
                                      $("#edit_title").attr("value", data.title);
                                      $("#edit_description").attr("value", data.description);
                                      $("#edit_url").attr("value", data.url);
                                      $("#edit_img").attr("value", data.img);
                                      $("#edit_date").attr("value", data.date);
                                      $("#edit_id").attr("value", data._id);
                                      $('#Modal').modal({show: true});
                                  },
                              error: function(){
                                  alert('No data');
                              }
                          });
                      });
        </script>
    </body>
</html>